USE [Qly_Nvien]
GO
/****** Object:  Table [dbo].[BANGCONG]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCONG](
	[MABC] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[ID_LC] [int] NULL,
	[ID_CC] [int] NULL,
 CONSTRAINT [PK_BANGCONG] PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGCONG_NHANVIEN_CHITIET]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCONG_NHANVIEN_CHITIET](
	[ID] [int] NOT NULL,
	[MAKYCONG] [int] NULL,
	[MACTY] [nvarchar](50) NULL,
	[MANV] [nvarchar](50) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAY] [datetime] NULL,
	[THU] [nvarchar](50) NULL,
	[GIOVAO] [nvarchar](50) NULL,
	[GIORA] [nvarchar](50) NULL,
	[NGAYPHEP] [float] NULL,
	[CONGNGAYLE] [float] NULL,
	[CONGCHUNHAT] [float] NULL,
	[KYHIEU] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](50) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_BANGCONG_NHANVIEN_CT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[ID_BC] [int] IDENTITY(1,1) NOT NULL,
	[TENBC] [nvarchar](50) NULL,
	[SOTIEN] [float] NULL,
 CONSTRAINT [PK_BAOCAO] PRIMARY KEY CLUSTERED 
(
	[ID_BC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[ID_BP] [int] IDENTITY(1,1) NOT NULL,
	[TENBP] [nvarchar](max) NULL,
 CONSTRAINT [PK_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[ID_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[ID_CC] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [int] NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[GIOVAO] [int] NULL,
	[PHUTVAO] [int] NULL,
	[GIORA] [int] NULL,
	[PHUTRA] [int] NULL,
	[BUOINGHIPHEP] [int] NULL,
 CONSTRAINT [PK_CHAMCONG] PRIMARY KEY CLUSTERED 
(
	[ID_CC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[ID_CV] [int] IDENTITY(1,1) NOT NULL,
	[TENCV] [nvarchar](max) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[ID_CV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGTY]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTY](
	[ID_CTY] [int] IDENTITY(1,1) NOT NULL,
	[TENCTY] [nvarchar](max) NULL,
	[SĐT] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
 CONSTRAINT [PK_CONGTY] PRIMARY KEY CLUSTERED 
(
	[ID_CTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[SOHD] [nvarchar](50) NOT NULL,
	[NGAYBDAU] [datetime] NULL,
	[NGAYKTHUC] [datetime] NULL,
	[NGAYKY] [datetime] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[LANKY] [int] NULL,
	[THOIHAN] [nvarchar](max) NULL,
	[HESOLUONG] [float] NULL,
	[MANV] [int] NULL,
	[ID_CTY] [int] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_HOPDONG_1] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHENTHUONGKYLUAT]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHENTHUONGKYLUAT](
	[SOQUYETDINH] [nvarchar](50) NOT NULL,
	[LYDO] [nvarchar](max) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[NGAY] [datetime] NULL,
	[MANV] [int] NULL,
	[LOAI] [int] NULL,
	[TUNGAY] [datetime] NULL,
	[DENNGAY] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_KHENTHUONGKYLUAT_1] PRIMARY KEY CLUSTERED 
(
	[SOQUYETDINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYCONG]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYCONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKYCONG] [int] NOT NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[KHOA] [bit] NULL,
	[NGAYTINHCONG] [datetime] NULL,
	[NGAYCONGTRONGTHANG] [float] NULL,
	[MACTY] [nvarchar](4) NULL,
	[TRANGTHAI] [bit] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_KYCONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYCONGCHITIET]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYCONGCHITIET](
	[MAKYCONG] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[MACTY] [nvarchar](4) NULL,
	[D1] [nvarchar](10) NULL,
	[D2] [nvarchar](10) NULL,
	[D3] [nvarchar](10) NULL,
	[D4] [nvarchar](10) NULL,
	[D5] [nvarchar](10) NULL,
	[D6] [nvarchar](10) NULL,
	[D7] [nvarchar](10) NULL,
	[D8] [nvarchar](10) NULL,
	[D9] [nvarchar](10) NULL,
	[D10] [nvarchar](10) NULL,
	[D11] [nvarchar](10) NULL,
	[D12] [nvarchar](10) NULL,
	[D13] [nvarchar](10) NULL,
	[D14] [nvarchar](10) NULL,
	[D15] [nvarchar](10) NULL,
	[D16] [nvarchar](10) NULL,
	[D17] [nvarchar](10) NULL,
	[D18] [nvarchar](10) NULL,
	[D19] [nvarchar](10) NULL,
	[D20] [nvarchar](10) NULL,
	[D21] [nvarchar](10) NULL,
	[D22] [nvarchar](10) NULL,
	[D23] [nvarchar](10) NULL,
	[D24] [nvarchar](10) NULL,
	[D25] [nvarchar](10) NULL,
	[D26] [nvarchar](10) NULL,
	[D27] [nvarchar](10) NULL,
	[D28] [nvarchar](10) NULL,
	[D29] [nvarchar](10) NULL,
	[D30] [nvarchar](10) NULL,
	[D31] [nvarchar](10) NULL,
	[NGAYCONG] [float] NULL,
	[NGAYPHEP] [float] NULL,
	[NGHIKHONGPHEP] [float] NULL,
	[CONGNGAYLE] [float] NULL,
	[CONGCHUNHAT] [float] NULL,
	[TONGNGAYCONG] [float] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_KYCONGCHITIET_1] PRIMARY KEY CLUSTERED 
(
	[MAKYCONG] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICA]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICA](
	[ID_LCA] [int] IDENTITY(1,1) NOT NULL,
	[TENLCA] [nvarchar](max) NULL,
	[HESO] [float] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
 CONSTRAINT [PK_LOAICA] PRIMARY KEY CLUSTERED 
(
	[ID_LCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICONG]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICONG](
	[ID_LC] [int] IDENTITY(1,1) NOT NULL,
	[TENLC] [nvarchar](50) NULL,
	[HESO] [float] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_LOAICONG] PRIMARY KEY CLUSTERED 
(
	[ID_LC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](max) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[SDT] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[ID_PB] [int] NULL,
	[ID_BP] [int] NULL,
	[ID_CV] [int] NULL,
	[ID_TD] [int] NULL,
	[ID_CTY] [int] NULL,
	[HINHANH] [varbinary](max) NULL,
	[DATHOIVIEC] [bit] NULL,
	[TAIKHOAN] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN_BAOCAO]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN_BAOCAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[ID_BC] [int] NULL,
	[NGAY] [datetime] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[SOTIEN] [float] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_NHANVIEN_BAOCAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN_NANGLUONG]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN_NANGLUONG](
	[SOQD] [nvarchar](50) NOT NULL,
	[SOHD] [nvarchar](50) NULL,
	[MANV] [int] NULL,
	[HESOLUONGHIENTAI] [float] NULL,
	[HESOLUONGMOI] [float] NULL,
	[NGAYLENLUONG] [datetime] NULL,
	[NGAYKY] [datetime] NULL,
	[GHICHU] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
 CONSTRAINT [PK_NHANVIEN_NANGLUONG] PRIMARY KEY CLUSTERED 
(
	[SOQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN_THOIVIEC]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN_THOIVIEC](
	[SOQD] [nvarchar](50) NOT NULL,
	[MANV] [int] NULL,
	[NGAYNOPDON] [datetime] NULL,
	[NGAYNGHI] [datetime] NULL,
	[LYDO] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
 CONSTRAINT [PK_NHANVIEN_THOIVIEC] PRIMARY KEY CLUSTERED 
(
	[SOQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[ID_PB] [int] IDENTITY(1,1) NOT NULL,
	[TENPB] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[ID_PB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TANGCA]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TANGCA](
	[ID_TC] [int] IDENTITY(1,1) NOT NULL,
	[NAM] [int] NULL,
	[THANG] [int] NULL,
	[NGAY] [int] NULL,
	[SOGIO] [float] NULL,
	[MANV] [int] NULL,
	[ID_LCA] [int] NULL,
 CONSTRAINT [PK_TANGCA] PRIMARY KEY CLUSTERED 
(
	[ID_TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRINHDO]    Script Date: 13/09/2025 12:28:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDO](
	[ID_TD] [int] IDENTITY(1,1) NOT NULL,
	[TENTD] [nvarchar](max) NULL,
 CONSTRAINT [PK_TRINHDO] PRIMARY KEY CLUSTERED 
(
	[ID_TD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCONG_CHAMCONG] FOREIGN KEY([ID_CC])
REFERENCES [dbo].[CHAMCONG] ([ID_CC])
GO
ALTER TABLE [dbo].[BANGCONG] CHECK CONSTRAINT [FK_BANGCONG_CHAMCONG]
GO
ALTER TABLE [dbo].[BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCONG_LOAICONG] FOREIGN KEY([ID_LC])
REFERENCES [dbo].[LOAICONG] ([ID_LC])
GO
ALTER TABLE [dbo].[BANGCONG] CHECK CONSTRAINT [FK_BANGCONG_LOAICONG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_NHANVIEN]
GO
ALTER TABLE [dbo].[KHENTHUONGKYLUAT]  WITH CHECK ADD  CONSTRAINT [FK_KHENTHUONGKYLUAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHENTHUONGKYLUAT] CHECK CONSTRAINT [FK_KHENTHUONGKYLUAT_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([ID_BP])
REFERENCES [dbo].[BOPHAN] ([ID_BP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([ID_CV])
REFERENCES [dbo].[CHUCVU] ([ID_CV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CONGTY] FOREIGN KEY([ID_CTY])
REFERENCES [dbo].[CONGTY] ([ID_CTY])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CONGTY]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([ID_PB])
REFERENCES [dbo].[PHONGBAN] ([ID_PB])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TRINHDO] FOREIGN KEY([ID_TD])
REFERENCES [dbo].[TRINHDO] ([ID_TD])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TRINHDO]
GO
ALTER TABLE [dbo].[NHANVIEN_BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BAOCAO_BAOCAO] FOREIGN KEY([ID_BC])
REFERENCES [dbo].[BAOCAO] ([ID_BC])
GO
ALTER TABLE [dbo].[NHANVIEN_BAOCAO] CHECK CONSTRAINT [FK_NHANVIEN_BAOCAO_BAOCAO]
GO
ALTER TABLE [dbo].[NHANVIEN_BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BAOCAO_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN_BAOCAO] CHECK CONSTRAINT [FK_NHANVIEN_BAOCAO_NHANVIEN]
GO
ALTER TABLE [dbo].[TANGCA]  WITH CHECK ADD  CONSTRAINT [FK_TANGCA_LOAICA] FOREIGN KEY([ID_LCA])
REFERENCES [dbo].[LOAICA] ([ID_LCA])
GO
ALTER TABLE [dbo].[TANGCA] CHECK CONSTRAINT [FK_TANGCA_LOAICA]
GO
