<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Qly_NvienEntities" connectionString="metadata=res://*/QLY_NVIEN.csdl|res://*/QLY_NVIEN.ssdl|res://*/QLY_NVIEN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IVN453T;initial catalog=Qly_Nvien;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Qly_NvienEntities1" connectionString="metadata=res://*/QLY_NVIEN.csdl|res://*/QLY_NVIEN.ssdl|res://*/QLY_NVIEN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IVN453T;initial catalog=Qly_Nvien;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Qly_NvienEntities2" connectionString="metadata=res://*/Qly_Nvien1.csdl|res://*/Qly_Nvien1.ssdl|res://*/Qly_Nvien1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IVN453T;initial catalog=Qly_Nvien;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>